{% extends "rest_framework/base.html" %}
{% block breadcrumbs %}
  <ul class="breadcrumb">

      <li class=""><a href="/api/v2/tasks/">List tasks</a></li>
      <li class=""><a href="/api/v2/tags/">List Tag</a></li>
      <li class=""><a href="/api/v2/tasks/create">Add new Task</a></li>
      <li class=""><a href="/api/v2/tags/create">Add new Tag</a></li>
      <li class=""><a href="/api/v2/tasks/1">Get first task by id</a></li>
      <li class=""><a href="/api/v2/tags/1">Get first tag by id</a></li>


  </ul>
{% endblock %}

